html {
    background-color: black;
}
#playBox {
    width: 250px;
    height: 100px;
    background-color: white;
    font-size: 55px;
    margin-top: 250px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
}
#playBox:hover {
    width: 255px;
    height: 105px;
    background-color: gray;
    font-size: 58px;
    margin-top: 250px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}
#settingBox {
    width: 250px;
    height: 100px;
    background-color: yellow;
    color: red;
    font-size: 55px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
}
#settingBox:hover {
    width: 255px;
    height: 105px;
    background-color: darkred;
    font-size: 58px;
}
#container {
    width: 90%;
    height: 95%;
    background-color: goldenrod;
    margin-top: 35px;
    border: 5px solid darkred;
    position: relative;
}
#container ul li {
    font-size: 30px;
    display: inline-flex;
}
#li1 {
    position: absolute;
    left: 25px;
    display: none;
}
#li2 {
    position: absolute;
    right: 25px;
    display: none;
}
#box {
    position: relative;
    width: 600px;
    min-height: 700px;
    display: none;
}
#player {
    width: 50px;
    height: 50px;
    background-color: darkred;
    position: absolute;
    top: 350px;
    left: 300px;
    display: none;
    border-radius: none;
}
#settingContainer {
    width: 90%;
    height: 95%;
    background-color: goldenrod;
    margin-top: 35px;
    border: 5px solid darkred;
    position: relative;
    display: none;
}
#chooseColor label {
    cursor: pointer;
}
#chooseColor h2 {
    font-size: 30px;
}
#chooseColor label {
    font-size: 20px;
}
#chooseFigure label {
    cursor: pointer;
}
#chooseFigure h2 {
    font-size: 30px;
}
#chooseFigure label {
    font-size: 20px;
}
#back {
    width: 200px;
    height: 50px;
    background-color: black;
    font-size: 30px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 300px;
}
#back:hover {
    color: gray;
}